@font-face {
	font-family: 'robotoblack';
	src: url('roboto_black/Roboto-Black-webfont.eot');
	src: url('roboto_black/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
	url('roboto_black/Roboto-Black-webfont.woff') format('woff'),
	url('roboto_black/Roboto-Black-webfont.ttf') format('truetype'),
	url('roboto_black/Roboto-Black-webfont.svg#robotoblack') format('svg');
	font-weight: normal;
	font-style: normal;

}

body{
	font-family: 'robotoblack', sans-serif;
    margin: 0;
    padding: 0;
}

textarea
{
	width: 800px;
	height: 400px;
    font-size: 70px;
    border: 0px;
	font-family: robotoblack, sans-serif;
    background-color: transparent;
	z-index: 10;
	position: relative;
	text-align: center;
    vertical-align: center;
	margin-top: 20px;
    top: 200px;
    color: white;
    resize: none;
}

textarea:focus, input:focus{
    outline: none; 
}



#SHA1_flag {
	position: relative;
	z-index: 0;
    width: 100%;
}

.outputcontrol {
	position: relative;
	z-index: 20;
}

#SHA1_flag .flagblock {
    height: 640px;
    min-width:10px;
    width: calc(100%/6);
    display: inline-block;
    text-align:right;
	font-size: 50px;
}

#SHA1_flag .flagcode {
	color: white;
	/* mix-blend-mode: difference; */
	position: relative;
	top: 580px;
	right: 8px;

}


#blockall {
	overflow: hidden;
	height: 400px;
	width: 800px;
}

#logo {
	height: 400px;
	-webkit-transform:rotate(-17deg);
}

#logo .flagblock {
    height: 200px;
    min-width:200px;
    display: inline-block;
    text-align:right;
    padding: 2px;
	font-size: 42px;
	position: relative;
	left: 100px;
	top: -80px;
}

#logo .flagcode {
	color: white;
	position: relative;
	top: 196px;
	right: 4px;
}

#logotext {
	font-size: 260px;
	position: relative;
	top: -400px;
	left: 00px;
	color: black;
	background-color: white;
	mix-blend-mode: screen;
	padding: 80px;
	padding-bottom: 120px;
	padding-top: 150px;
	padding-right: 700px;

}


#textcode {
	font-size: 70px;
	position: relative;
	top: -480px;
	left: 600px;
	color: black;
}

.kvp {
    display: inline-block;
}

.kvp label {
	width: 90px;
	display: block;
	float: left;
	font-size: 10px;
}

.kvp input {
    width: 700px;
    position: relative;
}

.hashOutput {
    display: block;
	text-align: center;
}

.codes {
	position: relative;
	z-index: 10;
}

.footer {
    position: relative;
    margin-top: 30px;
    
}

.container {
    width: 800px;
    margin-left: auto ;
	margin-right: auto ;
    height: 0;
}

.flagbox {
	width: 800px;
	margin-left: auto ;
	margin-right: auto ;
	height: 0;
}


.small {
    font-size: 10px; color: gray;
}
